@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-4">
    <div class="tab-content" id="myTabContent">
        <div>
            <h1>Estadísticas certificados</h1>
            <p>Los certificados que han sido creados en el sistema</p>
        </div>
    </div>
    <div>
        <div class="row">

            <div class="col-12 col-md-4 mb-3">
                <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
                <input type="date" id="fechaInicio" class="form-control" />

            </div>
            <div class="col-12 col-md-4 mb-3">
                <label for="fechaFin" class="form-label">Fecha de Fin</label>
                <input type="date" id="fechaFin" class="form-control" />
            </div>
            <div class="col-12 col-md-4 mb-3">
                <label for="plantillaEstadistica" class="form-label">Plantilla</label>
                <select id="plantillaEstadistica" class="form-select">
                    <option selected disabled value="">Seleccione una plantilla</option>
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="firmanteEstadistica" class="form-label">Firmante</label>
                <select id="firmanteEstadistica" class="form-select">
                    <option selected disabled value="">Seleccione un firmante</option>
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="tipoEstadistica" class="form-label">Tipo Certificado</label>
                <select id="tipoEstadistica" class="form-select">
                    <option selected disabled value="">Seleccione un Tipo Certificado</option>
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="creadorEstadistica" class="form-label">Usuario Creador</label>
                <select id="creadorEstadistica" class="form-select">
                    <option selected disabled value="">Seleccione un creador</option>
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="estadoEstadistica" class="form-label">Estado</label>
                <select id="estadoEstadistica" class="form-select">
                    <option selected disabled value="">Seleccione un estado</option>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
        </div>        
        <div class="d-flex  justify-content-end align-items-center">
            
            <button class="btn btn-primary" id="btnLimpiarEstadistica">
                <i class="bi bi-trash">Limpiar Filtros</i>
            </button>
        </div>
        <div class="tab-pane fade show active m-1" id="tablaEstadistica" role="tabpanel" aria-labelledby="tabla-tab">
            <div class="row">
                <div class="col-md-6">
                    <canvas id="plantillaEstadisticas"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="firmanteEstadisticas"></canvas>
                </div>
                <div class="col-md-3">

                </div> 
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <canvas id="lineaTiempoEstadisticas"></canvas>
                    <div class="col-12 col-md-4 mt-3">
                        <select id="tipoTiempoEstadistica" class="form-select">
                            <option selected  value="dia">Dia</option>
                            <option value="semana">Semana</option>
                            <option value="anio">Año</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

    </div> 
</div>
