
<div class="container mt-4">
    <div class="tab-content" id="myTabContent">
        <div>
            <h1>Reporte de certificados</h1>
            <p>Los certificados que han sido creados en el sistema</p>
        </div>

        <br />
        <!-- Contenido de la pestaña de la tabla -->

        <div id="injectModal">
        </div>
        <div class="row">

            <div class="col-12 col-md-4 mb-3">
                <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
                <input type="date" id="fechaInicio" class="form-control" placeholder="Seleccione fecha de Inicio"/>

            </div>
            <div class="col-12 col-md-4 mb-3">
                <label for="fechaFin" class="form-label">Fecha de Fin</label>
                <input type="date" id="fechaFin" class="form-control" placeholder="Seleccione fecha de Fin" />
            </div>
            <div class="col-12 col-md-4 mb-3">
                <label for="plantilla" class="form-label">Plantilla</label>
                 <select multiple id="plantilla" class="form-select select2">
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="firmante" class="form-label">Firmante</label>
                 <select multiple id="firmante" class="form-select select2">
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="tipo" class="form-label">Tipo Certificado</label>
                 <select multiple id="tipo" class="form-select select2">
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="creador" class="form-label">Usuario Creador</label>
                 <select multiple id="creador" class="form-select select2">
                </select>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <label for="estado" class="form-label">Estado</label>
                 <select multiple id="estado" class="form-select select2">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
        </div>
        
        <div class="d-flex  justify-content-end align-items-center gap-2">
            <button class="btn btn-success" id="btnDescargarExcel">
                <i class="bi bi-file-earmark-spreadsheet-fill">  Descargar Excel</i>
            </button>
            <button class="btn btn-primary" id="btnLimpiar">
                <i class="bi bi-trash">  Limpiar Filtros</i>
            </button>

        </div>
        <div class="tab-pane fade show active m-1" id="tabla" role="tabpanel" aria-labelledby="tabla-tab">
            <div>
                <canvas id="myChart"></canvas>
            </div>

            <table id="tabla-certificados" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Fecha de creacion</th>
                        <th>Firmante #1</th>
                        <th>Firmante #2</th>
                        <th>Firmante #3</th>
                        <th>Estado</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se mostrarán los datos de los certificados -->
                </tbody>
            </table>
        </div>
    </div>
</div>
